<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfsoft.mapper.BaseAreaMapper" >
	<resultMap id="BaseResultMap" type="com.jfsoft.model.BaseArea" >
		<id column="ID" property="id" jdbcType="OTHER" />
		<result column="CODE" property="code" jdbcType="OTHER" />
		<result column="NAME" property="name" jdbcType="OTHER" />
		<result column="PYCODE" property="pycode" jdbcType="OTHER" />
		<result column="SORTNUM" property="sortnum" jdbcType="DECIMAL" />
		<result column="MEMO" property="memo" jdbcType="OTHER" />
		<result column="HISCODE" property="hiscode" jdbcType="OTHER" />
	</resultMap>

	<sql id="Base_Column_List" >
		ID, CODE, NAME, PYCODE, SORTNUM, MEMO, HISCODE
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Object" >
		select 
		<include refid="Base_Column_List" />
		from BASE_AREA
		where ID = #{id,jdbcType=OTHER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Object" >
		delete from BASE_AREA
		where ID = #{id,jdbcType=OTHER}
	</delete>

	<insert id="insert" parameterType="com.jfsoft.model.BaseArea" >
		insert into BASE_AREA (ID, CODE, NAME, PYCODE, 
			SORTNUM, MEMO, HISCODE)
		values (#{id,jdbcType=OTHER}, #{code,jdbcType=OTHER}, #{name,jdbcType=OTHER}, #{pycode,jdbcType=OTHER}, 
			#{sortnum,jdbcType=DECIMAL}, #{memo,jdbcType=OTHER}, #{hiscode,jdbcType=OTHER})
	</insert>

	<insert id="insertSelective" parameterType="com.jfsoft.model.BaseArea" >
		insert into BASE_AREA
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				ID,
			</if>
			<if test="code != null" >
				CODE,
			</if>
			<if test="name != null" >
				NAME,
			</if>
			<if test="pycode != null" >
				PYCODE,
			</if>
			<if test="sortnum != null" >
				SORTNUM,
			</if>
			<if test="memo != null" >
				MEMO,
			</if>
			<if test="hiscode != null" >
				HISCODE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				#{id,jdbcType=OTHER},
			</if>
			<if test="code != null" >
				#{code,jdbcType=OTHER},
			</if>
			<if test="name != null" >
				#{name,jdbcType=OTHER},
			</if>
			<if test="pycode != null" >
				#{pycode,jdbcType=OTHER},
			</if>
			<if test="sortnum != null" >
				#{sortnum,jdbcType=DECIMAL},
			</if>
			<if test="memo != null" >
				#{memo,jdbcType=OTHER},
			</if>
			<if test="hiscode != null" >
				#{hiscode,jdbcType=OTHER},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.jfsoft.model.BaseArea" >
		update BASE_AREA
		<set >
			<if test="code != null" >
				CODE = #{code,jdbcType=OTHER},
			</if>
			<if test="name != null" >
				NAME = #{name,jdbcType=OTHER},
			</if>
			<if test="pycode != null" >
				PYCODE = #{pycode,jdbcType=OTHER},
			</if>
			<if test="sortnum != null" >
				SORTNUM = #{sortnum,jdbcType=DECIMAL},
			</if>
			<if test="memo != null" >
				MEMO = #{memo,jdbcType=OTHER},
			</if>
			<if test="hiscode != null" >
				HISCODE = #{hiscode,jdbcType=OTHER},
			</if>
		</set>
		where ID = #{id,jdbcType=OTHER}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.jfsoft.model.BaseArea" >
		update BASE_AREA
		set CODE = #{code,jdbcType=OTHER},
			NAME = #{name,jdbcType=OTHER},
			PYCODE = #{pycode,jdbcType=OTHER},
			SORTNUM = #{sortnum,jdbcType=DECIMAL},
			MEMO = #{memo,jdbcType=OTHER},
			HISCODE = #{hiscode,jdbcType=OTHER}
		where ID = #{id,jdbcType=OTHER}
	</update>

</mapper>