<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfsoft.mapper.BaseIllnessMapper" >
	<resultMap id="BaseResultMap" type="com.jfsoft.model.BaseIllness" >
		<id column="ID" property="id" jdbcType="OTHER" />
		<result column="CODE" property="code" jdbcType="DECIMAL" />
		<result column="NAME" property="name" jdbcType="OTHER" />
		<result column="PYCODE" property="pycode" jdbcType="OTHER" />
		<result column="DESCRIPTION" property="description" jdbcType="OTHER" />
		<result column="ADAPTSEX" property="adaptsex" jdbcType="OTHER" />
		<result column="ISUSE" property="isuse" jdbcType="DECIMAL" />
		<result column="SORTNUM" property="sortnum" jdbcType="DECIMAL" />
		<result column="MEMO" property="memo" jdbcType="OTHER" />
		<result column="AREACODE" property="areacode" jdbcType="OTHER" />
		<result column="ICD10" property="icd10" jdbcType="OTHER" />
	</resultMap>

	<sql id="Base_Column_List" >
		ID, CODE, NAME, PYCODE, DESCRIPTION, ADAPTSEX, ISUSE, SORTNUM, MEMO, AREACODE, ICD10
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Object" >
		select 
		<include refid="Base_Column_List" />
		from BASE_ILLNESS
		where ID = #{id,jdbcType=OTHER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Object" >
		delete from BASE_ILLNESS
		where ID = #{id,jdbcType=OTHER}
	</delete>

	<insert id="insert" parameterType="com.jfsoft.model.BaseIllness" >
		insert into BASE_ILLNESS (ID, CODE, NAME, PYCODE, 
			DESCRIPTION, ADAPTSEX, ISUSE, 
			SORTNUM, MEMO, AREACODE, 
			ICD10)
		values (#{id,jdbcType=OTHER}, #{code,jdbcType=DECIMAL}, #{name,jdbcType=OTHER}, #{pycode,jdbcType=OTHER}, 
			#{description,jdbcType=OTHER}, #{adaptsex,jdbcType=OTHER}, #{isuse,jdbcType=DECIMAL}, 
			#{sortnum,jdbcType=DECIMAL}, #{memo,jdbcType=OTHER}, #{areacode,jdbcType=OTHER}, 
			#{icd10,jdbcType=OTHER})
	</insert>

	<insert id="insertSelective" parameterType="com.jfsoft.model.BaseIllness" >
		insert into BASE_ILLNESS
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				ID,
			</if>
			<if test="code != null" >
				CODE,
			</if>
			<if test="name != null" >
				NAME,
			</if>
			<if test="pycode != null" >
				PYCODE,
			</if>
			<if test="description != null" >
				DESCRIPTION,
			</if>
			<if test="adaptsex != null" >
				ADAPTSEX,
			</if>
			<if test="isuse != null" >
				ISUSE,
			</if>
			<if test="sortnum != null" >
				SORTNUM,
			</if>
			<if test="memo != null" >
				MEMO,
			</if>
			<if test="areacode != null" >
				AREACODE,
			</if>
			<if test="icd10 != null" >
				ICD10,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				#{id,jdbcType=OTHER},
			</if>
			<if test="code != null" >
				#{code,jdbcType=DECIMAL},
			</if>
			<if test="name != null" >
				#{name,jdbcType=OTHER},
			</if>
			<if test="pycode != null" >
				#{pycode,jdbcType=OTHER},
			</if>
			<if test="description != null" >
				#{description,jdbcType=OTHER},
			</if>
			<if test="adaptsex != null" >
				#{adaptsex,jdbcType=OTHER},
			</if>
			<if test="isuse != null" >
				#{isuse,jdbcType=DECIMAL},
			</if>
			<if test="sortnum != null" >
				#{sortnum,jdbcType=DECIMAL},
			</if>
			<if test="memo != null" >
				#{memo,jdbcType=OTHER},
			</if>
			<if test="areacode != null" >
				#{areacode,jdbcType=OTHER},
			</if>
			<if test="icd10 != null" >
				#{icd10,jdbcType=OTHER},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.jfsoft.model.BaseIllness" >
		update BASE_ILLNESS
		<set >
			<if test="code != null" >
				CODE = #{code,jdbcType=DECIMAL},
			</if>
			<if test="name != null" >
				NAME = #{name,jdbcType=OTHER},
			</if>
			<if test="pycode != null" >
				PYCODE = #{pycode,jdbcType=OTHER},
			</if>
			<if test="description != null" >
				DESCRIPTION = #{description,jdbcType=OTHER},
			</if>
			<if test="adaptsex != null" >
				ADAPTSEX = #{adaptsex,jdbcType=OTHER},
			</if>
			<if test="isuse != null" >
				ISUSE = #{isuse,jdbcType=DECIMAL},
			</if>
			<if test="sortnum != null" >
				SORTNUM = #{sortnum,jdbcType=DECIMAL},
			</if>
			<if test="memo != null" >
				MEMO = #{memo,jdbcType=OTHER},
			</if>
			<if test="areacode != null" >
				AREACODE = #{areacode,jdbcType=OTHER},
			</if>
			<if test="icd10 != null" >
				ICD10 = #{icd10,jdbcType=OTHER},
			</if>
		</set>
		where ID = #{id,jdbcType=OTHER}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.jfsoft.model.BaseIllness" >
		update BASE_ILLNESS
		set CODE = #{code,jdbcType=DECIMAL},
			NAME = #{name,jdbcType=OTHER},
			PYCODE = #{pycode,jdbcType=OTHER},
			DESCRIPTION = #{description,jdbcType=OTHER},
			ADAPTSEX = #{adaptsex,jdbcType=OTHER},
			ISUSE = #{isuse,jdbcType=DECIMAL},
			SORTNUM = #{sortnum,jdbcType=DECIMAL},
			MEMO = #{memo,jdbcType=OTHER},
			AREACODE = #{areacode,jdbcType=OTHER},
			ICD10 = #{icd10,jdbcType=OTHER}
		where ID = #{id,jdbcType=OTHER}
	</update>

</mapper>