<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfsoft.mapper.BaseTempillmapMapper" >
	<resultMap id="BaseResultMap" type="com.jfsoft.model.BaseTempillmap" >
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="TEMPLATECODE" property="templatecode" jdbcType="DECIMAL" />
		<result column="ILLNESSCODE" property="illnesscode" jdbcType="DECIMAL" />
		<result column="AREACODE" property="areacode" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List" >
		ID, TEMPLATECODE, ILLNESSCODE, AREACODE
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Object" >
		select 
		<include refid="Base_Column_List" />
		from BASE_TEMPILLMAP
		where ID = #{id,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Object" >
		delete from BASE_TEMPILLMAP
		where ID = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.jfsoft.model.BaseTempillmap" >
		insert into BASE_TEMPILLMAP (ID, TEMPLATECODE, ILLNESSCODE, 
			AREACODE)
		values (#{id,jdbcType=VARCHAR}, #{templatecode,jdbcType=DECIMAL}, #{illnesscode,jdbcType=DECIMAL},
			#{areacode,jdbcType=VARCHAR})
	</insert>

	<insert id="insertSelective" parameterType="com.jfsoft.model.BaseTempillmap" >
		insert into BASE_TEMPILLMAP
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				ID,
			</if>
			<if test="templatecode != null" >
				TEMPLATECODE,
			</if>
			<if test="illnesscode != null" >
				ILLNESSCODE,
			</if>
			<if test="areacode != null" >
				AREACODE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="templatecode != null" >
				#{templatecode,jdbcType=DECIMAL},
			</if>
			<if test="illnesscode != null" >
				#{illnesscode,jdbcType=DECIMAL},
			</if>
			<if test="areacode != null" >
				#{areacode,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.jfsoft.model.BaseTempillmap" >
		update BASE_TEMPILLMAP
		<set >
			<if test="templatecode != null" >
				TEMPLATECODE = #{templatecode,jdbcType=DECIMAL},
			</if>
			<if test="illnesscode != null" >
				ILLNESSCODE = #{illnesscode,jdbcType=DECIMAL},
			</if>
			<if test="areacode != null" >
				AREACODE = #{areacode,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.jfsoft.model.BaseTempillmap" >
		update BASE_TEMPILLMAP
		set TEMPLATECODE = #{templatecode,jdbcType=DECIMAL},
			ILLNESSCODE = #{illnesscode,jdbcType=DECIMAL},
			AREACODE = #{areacode,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

</mapper>