<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfsoft.mapper.BaseEquipmentMapper" >
	<resultMap id="BaseResultMap" type="com.jfsoft.model.BaseEquipment" >
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="CODE" property="code" jdbcType="DECIMAL" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="TYPECODE" property="typecode" jdbcType="DECIMAL" />
		<result column="DEPTCODE" property="deptcode" jdbcType="DECIMAL" />
		<result column="PYCODE" property="pycode" jdbcType="VARCHAR" />
		<result column="ISUSE" property="isuse" jdbcType="DECIMAL" />
		<result column="SORTNUM" property="sortnum" jdbcType="DECIMAL" />
		<result column="MEMO" property="memo" jdbcType="VARCHAR" />
		<result column="AREACODE" property="areacode" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Example_Where_Clause" >
		<where >
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Update_By_Example_Where_Clause" >
		<where >
			<foreach collection="example.oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Base_Column_List" >
		ID, CODE, NAME, TYPECODE, DEPTCODE, PYCODE, ISUSE, SORTNUM, MEMO, AREACODE
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
		select 
		<include refid="Base_Column_List" />
		from BASE_EQUIPMENT
		where ID = #{id,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
		delete from BASE_EQUIPMENT
		where ID = #{id,jdbcType=VARCHAR}
	</delete>


	<insert id="insert" parameterType="com.jfsoft.model.BaseEquipment" >
		insert into BASE_EQUIPMENT (ID, CODE, NAME, TYPECODE, 
			DEPTCODE, PYCODE, ISUSE, 
			SORTNUM, MEMO, AREACODE)
		values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{typecode,jdbcType=DECIMAL},
			#{deptcode,jdbcType=DECIMAL}, #{pycode,jdbcType=VARCHAR}, #{isuse,jdbcType=DECIMAL},
			#{sortnum,jdbcType=DECIMAL}, #{memo,jdbcType=VARCHAR}, #{areacode,jdbcType=VARCHAR})
	</insert>

	<insert id="insertSelective" parameterType="com.jfsoft.model.BaseEquipment" >
		insert into BASE_EQUIPMENT
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				ID,
			</if>
			<if test="code != null" >
				CODE,
			</if>
			<if test="name != null" >
				NAME,
			</if>
			<if test="typecode != null" >
				TYPECODE,
			</if>
			<if test="deptcode != null" >
				DEPTCODE,
			</if>
			<if test="pycode != null" >
				PYCODE,
			</if>
			<if test="isuse != null" >
				ISUSE,
			</if>
			<if test="sortnum != null" >
				SORTNUM,
			</if>
			<if test="memo != null" >
				MEMO,
			</if>
			<if test="areacode != null" >
				AREACODE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="code != null" >
				#{code,jdbcType=DECIMAL},
			</if>
			<if test="name != null" >
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="typecode != null" >
				#{typecode,jdbcType=DECIMAL},
			</if>
			<if test="deptcode != null" >
				#{deptcode,jdbcType=DECIMAL},
			</if>
			<if test="pycode != null" >
				#{pycode,jdbcType=VARCHAR},
			</if>
			<if test="isuse != null" >
				#{isuse,jdbcType=DECIMAL},
			</if>
			<if test="sortnum != null" >
				#{sortnum,jdbcType=DECIMAL},
			</if>
			<if test="memo != null" >
				#{memo,jdbcType=VARCHAR},
			</if>
			<if test="areacode != null" >
				#{areacode,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByExampleSelective" parameterType="map" >
		update BASE_EQUIPMENT
		<set >
			<if test="record.id != null" >
				ID = #{record.id,jdbcType=VARCHAR},
			</if>
			<if test="record.code != null" >
				CODE = #{record.code,jdbcType=DECIMAL},
			</if>
			<if test="record.name != null" >
				NAME = #{record.name,jdbcType=VARCHAR},
			</if>
			<if test="record.typecode != null" >
				TYPECODE = #{record.typecode,jdbcType=DECIMAL},
			</if>
			<if test="record.deptcode != null" >
				DEPTCODE = #{record.deptcode,jdbcType=DECIMAL},
			</if>
			<if test="record.pycode != null" >
				PYCODE = #{record.pycode,jdbcType=VARCHAR},
			</if>
			<if test="record.isuse != null" >
				ISUSE = #{record.isuse,jdbcType=DECIMAL},
			</if>
			<if test="record.sortnum != null" >
				SORTNUM = #{record.sortnum,jdbcType=DECIMAL},
			</if>
			<if test="record.memo != null" >
				MEMO = #{record.memo,jdbcType=VARCHAR},
			</if>
			<if test="record.areacode != null" >
				AREACODE = #{record.areacode,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null" >
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>

	<update id="updateByExample" parameterType="map" >
		update BASE_EQUIPMENT
		set ID = #{record.id,jdbcType=VARCHAR},
			CODE = #{record.code,jdbcType=DECIMAL},
			NAME = #{record.name,jdbcType=VARCHAR},
			TYPECODE = #{record.typecode,jdbcType=DECIMAL},
			DEPTCODE = #{record.deptcode,jdbcType=DECIMAL},
			PYCODE = #{record.pycode,jdbcType=VARCHAR},
			ISUSE = #{record.isuse,jdbcType=DECIMAL},
			SORTNUM = #{record.sortnum,jdbcType=DECIMAL},
			MEMO = #{record.memo,jdbcType=VARCHAR},
			AREACODE = #{record.areacode,jdbcType=VARCHAR}
		<if test="_parameter != null" >
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>

	<update id="updateByPrimaryKeySelective" parameterType="com.jfsoft.model.BaseEquipment" >
		update BASE_EQUIPMENT
		<set >
			<if test="code != null" >
				CODE = #{code,jdbcType=DECIMAL},
			</if>
			<if test="name != null" >
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="typecode != null" >
				TYPECODE = #{typecode,jdbcType=DECIMAL},
			</if>
			<if test="deptcode != null" >
				DEPTCODE = #{deptcode,jdbcType=DECIMAL},
			</if>
			<if test="pycode != null" >
				PYCODE = #{pycode,jdbcType=VARCHAR},
			</if>
			<if test="isuse != null" >
				ISUSE = #{isuse,jdbcType=DECIMAL},
			</if>
			<if test="sortnum != null" >
				SORTNUM = #{sortnum,jdbcType=DECIMAL},
			</if>
			<if test="memo != null" >
				MEMO = #{memo,jdbcType=VARCHAR},
			</if>
			<if test="areacode != null" >
				AREACODE = #{areacode,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.jfsoft.model.BaseEquipment" >
		update BASE_EQUIPMENT
		set CODE = #{code,jdbcType=DECIMAL},
			NAME = #{name,jdbcType=VARCHAR},
			TYPECODE = #{typecode,jdbcType=DECIMAL},
			DEPTCODE = #{deptcode,jdbcType=DECIMAL},
			PYCODE = #{pycode,jdbcType=VARCHAR},
			ISUSE = #{isuse,jdbcType=DECIMAL},
			SORTNUM = #{sortnum,jdbcType=DECIMAL},
			MEMO = #{memo,jdbcType=VARCHAR},
			AREACODE = #{areacode,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

</mapper>