<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfsoft.mapper.InsGroupitemmapMapper" >
	<resultMap id="BaseResultMap" type="com.jfsoft.model.InsGroupitemmap" >
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="CHECKNO" property="checkno" jdbcType="DECIMAL" />
		<result column="EQUIPCODE" property="equipcode" jdbcType="DECIMAL" />
		<result column="GROUPCODE" property="groupcode" jdbcType="DECIMAL" />
		<result column="AREACODE" property="areacode" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List" >
		ID, CHECKNO, EQUIPCODE, GROUPCODE, AREACODE
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Object" >
		select 
		<include refid="Base_Column_List" />
		from INS_GROUPITEMMAP
		where ID = #{id,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Object" >
		delete from INS_GROUPITEMMAP
		where ID = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.jfsoft.model.InsGroupitemmap" >
		insert into INS_GROUPITEMMAP (ID, CHECKNO, EQUIPCODE, 
			GROUPCODE, AREACODE)
		values (#{id,jdbcType=VARCHAR}, #{checkno,jdbcType=DECIMAL}, #{equipcode,jdbcType=DECIMAL},
			#{groupcode,jdbcType=DECIMAL}, #{areacode,jdbcType=VARCHAR})
	</insert>

	<insert id="insertSelective" parameterType="com.jfsoft.model.InsGroupitemmap" >
		insert into INS_GROUPITEMMAP
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				ID,
			</if>
			<if test="checkno != null" >
				CHECKNO,
			</if>
			<if test="equipcode != null" >
				EQUIPCODE,
			</if>
			<if test="groupcode != null" >
				GROUPCODE,
			</if>
			<if test="areacode != null" >
				AREACODE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="checkno != null" >
				#{checkno,jdbcType=DECIMAL},
			</if>
			<if test="equipcode != null" >
				#{equipcode,jdbcType=DECIMAL},
			</if>
			<if test="groupcode != null" >
				#{groupcode,jdbcType=DECIMAL},
			</if>
			<if test="areacode != null" >
				#{areacode,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.jfsoft.model.InsGroupitemmap" >
		update INS_GROUPITEMMAP
		<set >
			<if test="checkno != null" >
				CHECKNO = #{checkno,jdbcType=DECIMAL},
			</if>
			<if test="equipcode != null" >
				EQUIPCODE = #{equipcode,jdbcType=DECIMAL},
			</if>
			<if test="groupcode != null" >
				GROUPCODE = #{groupcode,jdbcType=DECIMAL},
			</if>
			<if test="areacode != null" >
				AREACODE = #{areacode,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.jfsoft.model.InsGroupitemmap" >
		update INS_GROUPITEMMAP
		set CHECKNO = #{checkno,jdbcType=DECIMAL},
			EQUIPCODE = #{equipcode,jdbcType=DECIMAL},
			GROUPCODE = #{groupcode,jdbcType=DECIMAL},
			AREACODE = #{areacode,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

</mapper>