<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfsoft.mapper.InspectPicresultMapper" >
	<resultMap id="BaseResultMap" type="com.jfsoft.model.InspectPicresult" >
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="INSPECTNO" property="inspectno" jdbcType="DECIMAL" />
		<result column="PICURL" property="picurl" jdbcType="VARCHAR" />
		<result column="CREATECODE" property="createcode" jdbcType="DECIMAL" />
		<result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
		<result column="MODIFYCODE" property="modifycode" jdbcType="DECIMAL" />
		<result column="MODIFYTIME" property="modifytime" jdbcType="TIMESTAMP" />
		<result column="SORTNUM" property="sortnum" jdbcType="DECIMAL" />
		<result column="MEMO" property="memo" jdbcType="VARCHAR" />
		<result column="AREACODE" property="areacode" jdbcType="VARCHAR" />
		<result column="ISUSE" property="isuse" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List" >
		ID, INSPECTNO, PICURL, CREATECODE, CREATETIME, MODIFYCODE, MODIFYTIME, SORTNUM, MEMO, 
		AREACODE, ISUSE
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
		select 
		<include refid="Base_Column_List" />
		from INSPECT_PICRESULT
		where ID = #{id,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
		delete from INSPECT_PICRESULT
		where ID = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.jfsoft.model.InspectPicresult" >
		insert into INSPECT_PICRESULT (ID, INSPECTNO, PICURL, 
			CREATECODE, CREATETIME, MODIFYCODE, 
			MODIFYTIME, SORTNUM, MEMO, 
			AREACODE, ISUSE)
		values (#{id,jdbcType=VARCHAR}, #{inspectno,jdbcType=DECIMAL}, #{picurl,jdbcType=VARCHAR},
			#{createcode,jdbcType=DECIMAL}, #{createtime,jdbcType=TIMESTAMP}, #{modifycode,jdbcType=DECIMAL}, 
			#{modifytime,jdbcType=TIMESTAMP}, #{sortnum,jdbcType=DECIMAL}, #{memo,jdbcType=VARCHAR},
			#{areacode,jdbcType=VARCHAR}, #{isuse,jdbcType=VARCHAR})
	</insert>

	<insert id="insertSelective" parameterType="com.jfsoft.model.InspectPicresult" >
		insert into INSPECT_PICRESULT
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				ID,
			</if>
			<if test="inspectno != null" >
				INSPECTNO,
			</if>
			<if test="picurl != null" >
				PICURL,
			</if>
			<if test="createcode != null" >
				CREATECODE,
			</if>
			<if test="createtime != null" >
				CREATETIME,
			</if>
			<if test="modifycode != null" >
				MODIFYCODE,
			</if>
			<if test="modifytime != null" >
				MODIFYTIME,
			</if>
			<if test="sortnum != null" >
				SORTNUM,
			</if>
			<if test="memo != null" >
				MEMO,
			</if>
			<if test="areacode != null" >
				AREACODE,
			</if>
			<if test="isuse != null" >
				ISUSE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="inspectno != null" >
				#{inspectno,jdbcType=DECIMAL},
			</if>
			<if test="picurl != null" >
				#{picurl,jdbcType=VARCHAR},
			</if>
			<if test="createcode != null" >
				#{createcode,jdbcType=DECIMAL},
			</if>
			<if test="createtime != null" >
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifycode != null" >
				#{modifycode,jdbcType=DECIMAL},
			</if>
			<if test="modifytime != null" >
				#{modifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="sortnum != null" >
				#{sortnum,jdbcType=DECIMAL},
			</if>
			<if test="memo != null" >
				#{memo,jdbcType=VARCHAR},
			</if>
			<if test="areacode != null" >
				#{areacode,jdbcType=VARCHAR},
			</if>
			<if test="isuse != null" >
				#{isuse,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.jfsoft.model.InspectPicresult" >
		update INSPECT_PICRESULT
		<set >
			<if test="inspectno != null" >
				INSPECTNO = #{inspectno,jdbcType=DECIMAL},
			</if>
			<if test="picurl != null" >
				PICURL = #{picurl,jdbcType=VARCHAR},
			</if>
			<if test="createcode != null" >
				CREATECODE = #{createcode,jdbcType=DECIMAL},
			</if>
			<if test="createtime != null" >
				CREATETIME = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifycode != null" >
				MODIFYCODE = #{modifycode,jdbcType=DECIMAL},
			</if>
			<if test="modifytime != null" >
				MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="sortnum != null" >
				SORTNUM = #{sortnum,jdbcType=DECIMAL},
			</if>
			<if test="memo != null" >
				MEMO = #{memo,jdbcType=VARCHAR},
			</if>
			<if test="areacode != null" >
				AREACODE = #{areacode,jdbcType=VARCHAR},
			</if>
			<if test="isuse != null" >
				ISUSE = #{isuse,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.jfsoft.model.InspectPicresult" >
		update INSPECT_PICRESULT
		set INSPECTNO = #{inspectno,jdbcType=DECIMAL},
			PICURL = #{picurl,jdbcType=VARCHAR},
			CREATECODE = #{createcode,jdbcType=DECIMAL},
			CREATETIME = #{createtime,jdbcType=TIMESTAMP},
			MODIFYCODE = #{modifycode,jdbcType=DECIMAL},
			MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
			SORTNUM = #{sortnum,jdbcType=DECIMAL},
			MEMO = #{memo,jdbcType=VARCHAR},
			AREACODE = #{areacode,jdbcType=VARCHAR},
			ISUSE = #{isuse,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

</mapper>