<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfsoft.mapper.InspectTextresultMapper" >
	<resultMap id="BaseResultMap" type="com.jfsoft.model.InspectTextresult" >
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="INSPECTNO" property="inspectno" jdbcType="VARCHAR" />
		<result column="INSPECTRESULT" property="inspectresult" jdbcType="CLOB" />
		<result column="INSPECTDESC" property="inspectdesc" jdbcType="CLOB" />
		<result column="CHECKDOCCODE" property="checkdoccode" jdbcType="DECIMAL" />
		<result column="CHECKDOCNAME" property="checkdocname" jdbcType="VARCHAR" />
		<result column="CHECKTIME" property="checktime" jdbcType="TIMESTAMP" />
		<result column="AUDITDOCCODE" property="auditdoccode" jdbcType="DECIMAL" />
		<result column="AUDITDOCNAME" property="auditdocname" jdbcType="VARCHAR" />
		<result column="AUDITTIME" property="audittime" jdbcType="TIMESTAMP" />
		<result column="REPORTNATURE" property="reportnature" jdbcType="VARCHAR" />
		<result column="CREATECODE" property="createcode" jdbcType="DECIMAL" />
		<result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
		<result column="MODIFYCODE" property="modifycode" jdbcType="DECIMAL" />
		<result column="MODIFYTIME" property="modifytime" jdbcType="TIMESTAMP" />
		<result column="SORTNUM" property="sortnum" jdbcType="DECIMAL" />
		<result column="MEMO" property="memo" jdbcType="VARCHAR" />
		<result column="AREACODE" property="areacode" jdbcType="VARCHAR" />
		<result column="AUDITSTATUS" property="auditstatus" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Example_Where_Clause" >
		<where >
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Update_By_Example_Where_Clause" >
		<where >
			<foreach collection="example.oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Base_Column_List" >
		ID, INSPECTNO, INSPECTRESULT, INSPECTDESC, CHECKDOCCODE, CHECKDOCNAME, CHECKTIME, 
		AUDITDOCCODE, AUDITDOCNAME, AUDITTIME, REPORTNATURE, CREATECODE, CREATETIME, MODIFYCODE, 
		MODIFYTIME, SORTNUM, MEMO, AREACODE,AUDITSTATUS
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
		select 
		<include refid="Base_Column_List" />
		from INSPECT_TEXTRESULT
		where ID = #{id,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
		delete from INSPECT_TEXTRESULT
		where ID = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.jfsoft.model.InspectTextresult" >
		insert into INSPECT_TEXTRESULT (ID, INSPECTNO, INSPECTRESULT, 
			INSPECTDESC, CHECKDOCCODE, CHECKDOCNAME, 
			CHECKTIME, AUDITDOCCODE, AUDITDOCNAME, 
			AUDITTIME, REPORTNATURE, CREATECODE, 
			CREATETIME, MODIFYCODE, MODIFYTIME, 
			SORTNUM, MEMO, AREACODE,AUDITSTATUS)
		values (#{id,jdbcType=VARCHAR}, #{inspectno,jdbcType=VARCHAR}, #{inspectresult,jdbcType=CLOB},
			#{inspectdesc,jdbcType=CLOB}, #{checkdoccode,jdbcType=DECIMAL}, #{checkdocname,jdbcType=VARCHAR},
			#{checktime,jdbcType=TIMESTAMP}, #{auditdoccode,jdbcType=DECIMAL}, #{auditdocname,jdbcType=VARCHAR},
			#{audittime,jdbcType=TIMESTAMP}, #{reportnature,jdbcType=VARCHAR}, #{createcode,jdbcType=DECIMAL},
			#{createtime,jdbcType=TIMESTAMP}, #{modifycode,jdbcType=DECIMAL}, #{modifytime,jdbcType=TIMESTAMP}, 
			#{sortnum,jdbcType=DECIMAL}, #{memo,jdbcType=VARCHAR}, #{areacode,jdbcType=VARCHAR},#{auditstatus,jdbcType=VARCHAR})
	</insert>

	<insert id="insertSelective" parameterType="com.jfsoft.model.InspectTextresult" >
		insert into INSPECT_TEXTRESULT
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				ID,
			</if>
			<if test="inspectno != null" >
				INSPECTNO,
			</if>
			<if test="inspectresult != null" >
				INSPECTRESULT,
			</if>
			<if test="inspectdesc != null" >
				INSPECTDESC,
			</if>
			<if test="checkdoccode != null" >
				CHECKDOCCODE,
			</if>
			<if test="checkdocname != null" >
				CHECKDOCNAME,
			</if>
			<if test="checktime != null" >
				CHECKTIME,
			</if>
			<if test="auditdoccode != null" >
				AUDITDOCCODE,
			</if>
			<if test="auditdocname != null" >
				AUDITDOCNAME,
			</if>
			<if test="audittime != null" >
				AUDITTIME,
			</if>
			<if test="reportnature != null" >
				REPORTNATURE,
			</if>
			<if test="createcode != null" >
				CREATECODE,
			</if>
			<if test="createtime != null" >
				CREATETIME,
			</if>
			<if test="modifycode != null" >
				MODIFYCODE,
			</if>
			<if test="modifytime != null" >
				MODIFYTIME,
			</if>
			<if test="sortnum != null" >
				SORTNUM,
			</if>
			<if test="memo != null" >
				MEMO,
			</if>
			<if test="areacode != null" >
				AREACODE,
			</if>
			<if test="auditstatus != null" >
				AUDITSTATUS,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="inspectno != null" >
				#{inspectno,jdbcType=VARCHAR},
			</if>
			<if test="inspectresult != null" >
				#{inspectresult,jdbcType=CLOB},
			</if>
			<if test="inspectdesc != null" >
				#{inspectdesc,jdbcType=CLOB},
			</if>
			<if test="checkdoccode != null" >
				#{checkdoccode,jdbcType=DECIMAL},
			</if>
			<if test="checkdocname != null" >
				#{checkdocname,jdbcType=VARCHAR},
			</if>
			<if test="checktime != null" >
				#{checktime,jdbcType=TIMESTAMP},
			</if>
			<if test="auditdoccode != null" >
				#{auditdoccode,jdbcType=DECIMAL},
			</if>
			<if test="auditdocname != null" >
				#{auditdocname,jdbcType=VARCHAR},
			</if>
			<if test="audittime != null" >
				#{audittime,jdbcType=TIMESTAMP},
			</if>
			<if test="reportnature != null" >
				#{reportnature,jdbcType=VARCHAR},
			</if>
			<if test="createcode != null" >
				#{createcode,jdbcType=DECIMAL},
			</if>
			<if test="createtime != null" >
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifycode != null" >
				#{modifycode,jdbcType=DECIMAL},
			</if>
			<if test="modifytime != null" >
				#{modifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="sortnum != null" >
				#{sortnum,jdbcType=DECIMAL},
			</if>
			<if test="memo != null" >
				#{memo,jdbcType=VARCHAR},
			</if>
			<if test="areacode != null" >
				#{areacode,jdbcType=VARCHAR},
			</if>
			<if test="auditstatus != null" >
				#{AUDITSTATUS,jdbcType=VARCHAR},
			</if>

		</trim>
	</insert>

	<update id="updateByExampleSelective" parameterType="map" >
		update INSPECT_TEXTRESULT
		<set >
			<if test="record.id != null" >
				ID = #{record.id,jdbcType=VARCHAR},
			</if>
			<if test="record.inspectno != null" >
				INSPECTNO = #{record.inspectno,jdbcType=VARCHAR},
			</if>
			<if test="record.inspectresult != null" >
				INSPECTRESULT = #{record.inspectresult,jdbcType=CLOB},
			</if>
			<if test="record.inspectdesc != null" >
				INSPECTDESC = #{record.inspectdesc,jdbcType=CLOB},
			</if>
			<if test="record.checkdoccode != null" >
				CHECKDOCCODE = #{record.checkdoccode,jdbcType=DECIMAL},
			</if>
			<if test="record.checkdocname != null" >
				CHECKDOCNAME = #{record.checkdocname,jdbcType=VARCHAR},
			</if>
			<if test="record.checktime != null" >
				CHECKTIME = #{record.checktime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.auditdoccode != null" >
				AUDITDOCCODE = #{record.auditdoccode,jdbcType=DECIMAL},
			</if>
			<if test="record.auditdocname != null" >
				AUDITDOCNAME = #{record.auditdocname,jdbcType=VARCHAR},
			</if>
			<if test="record.audittime != null" >
				AUDITTIME = #{record.audittime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.reportnature != null" >
				REPORTNATURE = #{record.reportnature,jdbcType=VARCHAR},
			</if>
			<if test="record.createcode != null" >
				CREATECODE = #{record.createcode,jdbcType=DECIMAL},
			</if>
			<if test="record.createtime != null" >
				CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.modifycode != null" >
				MODIFYCODE = #{record.modifycode,jdbcType=DECIMAL},
			</if>
			<if test="record.modifytime != null" >
				MODIFYTIME = #{record.modifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.sortnum != null" >
				SORTNUM = #{record.sortnum,jdbcType=DECIMAL},
			</if>
			<if test="record.memo != null" >
				MEMO = #{record.memo,jdbcType=VARCHAR},
			</if>
			<if test="record.areacode != null" >
				AREACODE = #{record.areacode,jdbcType=VARCHAR},
			</if>
			<if test="record.auditstatus != null" >
				AUDITSTATUS = #{record.auditstatus,jdbcType=VARCHAR},
			</if>

		</set>
		<if test="_parameter != null" >
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>

	<update id="updateByExample" parameterType="map" >
		update INSPECT_TEXTRESULT
		set ID = #{record.id,jdbcType=VARCHAR},
			INSPECTNO = #{record.inspectno,jdbcType=VARCHAR},
			INSPECTRESULT = #{record.inspectresult,jdbcType=CLOB},
			INSPECTDESC = #{record.inspectdesc,jdbcType=CLOB},
			CHECKDOCCODE = #{record.checkdoccode,jdbcType=DECIMAL},
			CHECKDOCNAME = #{record.checkdocname,jdbcType=VARCHAR},
			CHECKTIME = #{record.checktime,jdbcType=TIMESTAMP},
			AUDITDOCCODE = #{record.auditdoccode,jdbcType=DECIMAL},
			AUDITDOCNAME = #{record.auditdocname,jdbcType=VARCHAR},
			AUDITTIME = #{record.audittime,jdbcType=TIMESTAMP},
			REPORTNATURE = #{record.reportnature,jdbcType=VARCHAR},
			CREATECODE = #{record.createcode,jdbcType=DECIMAL},
			CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
			MODIFYCODE = #{record.modifycode,jdbcType=DECIMAL},
			MODIFYTIME = #{record.modifytime,jdbcType=TIMESTAMP},
			SORTNUM = #{record.sortnum,jdbcType=DECIMAL},
			MEMO = #{record.memo,jdbcType=VARCHAR},
			AREACODE = #{record.areacode,jdbcType=VARCHAR},
			AUDITSTATUS = #{record.auditstatus,jdbcType=VARCHAR}
		<if test="_parameter != null" >
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>

	<update id="updateByPrimaryKeySelective" parameterType="com.jfsoft.model.InspectTextresult" >
		update INSPECT_TEXTRESULT
		<set >
			<if test="inspectno != null" >
				INSPECTNO = #{inspectno,jdbcType=VARCHAR},
			</if>
			<if test="inspectresult != null" >
				INSPECTRESULT = #{inspectresult,jdbcType=CLOB},
			</if>
			<if test="inspectdesc != null" >
				INSPECTDESC = #{inspectdesc,jdbcType=CLOB},
			</if>
			<if test="checkdoccode != null" >
				CHECKDOCCODE = #{checkdoccode,jdbcType=DECIMAL},
			</if>
			<if test="checkdocname != null" >
				CHECKDOCNAME = #{checkdocname,jdbcType=VARCHAR},
			</if>
			<if test="checktime != null" >
				CHECKTIME = #{checktime,jdbcType=TIMESTAMP},
			</if>
			<if test="auditdoccode != null" >
				AUDITDOCCODE = #{auditdoccode,jdbcType=DECIMAL},
			</if>
			<if test="auditdocname != null" >
				AUDITDOCNAME = #{auditdocname,jdbcType=VARCHAR},
			</if>
			<if test="audittime != null" >
				AUDITTIME = #{audittime,jdbcType=TIMESTAMP},
			</if>
			<if test="reportnature != null" >
				REPORTNATURE = #{reportnature,jdbcType=VARCHAR},
			</if>
			<if test="createcode != null" >
				CREATECODE = #{createcode,jdbcType=DECIMAL},
			</if>
			<if test="createtime != null" >
				CREATETIME = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifycode != null" >
				MODIFYCODE = #{modifycode,jdbcType=DECIMAL},
			</if>
			<if test="modifytime != null" >
				MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="sortnum != null" >
				SORTNUM = #{sortnum,jdbcType=DECIMAL},
			</if>
			<if test="memo != null" >
				MEMO = #{memo,jdbcType=VARCHAR},
			</if>
			<if test="areacode != null" >
				AREACODE = #{areacode,jdbcType=VARCHAR},
			</if>
			<if test="auditstatus != null" >
				AUDITSTATUS = #{auditstatus,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.jfsoft.model.InspectTextresult" >
		update INSPECT_TEXTRESULT
		set INSPECTNO = #{inspectno,jdbcType=VARCHAR},
			INSPECTRESULT = #{inspectresult,jdbcType=CLOB},
			INSPECTDESC = #{inspectdesc,jdbcType=CLOB},
			CHECKDOCCODE = #{checkdoccode,jdbcType=DECIMAL},
			CHECKDOCNAME = #{checkdocname,jdbcType=VARCHAR},
			CHECKTIME = #{checktime,jdbcType=TIMESTAMP},
			AUDITDOCCODE = #{auditdoccode,jdbcType=DECIMAL},
			AUDITDOCNAME = #{auditdocname,jdbcType=VARCHAR},
			AUDITTIME = #{audittime,jdbcType=TIMESTAMP},
			REPORTNATURE = #{reportnature,jdbcType=VARCHAR},
			CREATECODE = #{createcode,jdbcType=DECIMAL},
			CREATETIME = #{createtime,jdbcType=TIMESTAMP},
			MODIFYCODE = #{modifycode,jdbcType=DECIMAL},
			MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
			SORTNUM = #{sortnum,jdbcType=DECIMAL},
			MEMO = #{memo,jdbcType=VARCHAR},
			AREACODE = #{areacode,jdbcType=VARCHAR},
			AUDITSTATUS = #{auditstatus,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<select id="getTextresultDetail" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from INSPECT_TEXTRESULT
		where checkno = #{checkno,jdbcType=VARCHAR} and areacode=#{areacode}
	</select>

</mapper>