<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfsoft.mapper.SysActormenumapMapper" >
	<resultMap id="BaseResultMap" type="com.jfsoft.model.SysActormenumap" >
		<id column="ID" property="id" jdbcType="OTHER" />
		<result column="ROLECODE" property="rolecode" jdbcType="DECIMAL" />
		<result column="MENUCODE" property="menucode" jdbcType="DECIMAL" />
		<result column="AREACODE" property="areacode" jdbcType="OTHER" />
	</resultMap>

	<sql id="Base_Column_List" >
		ID, ROLECODE, MENUCODE, AREACODE
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Object" >
		select 
		<include refid="Base_Column_List" />
		from SYS_ACTORMENUMAP
		where ID = #{id,jdbcType=OTHER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Object" >
		delete from SYS_ACTORMENUMAP
		where ID = #{id,jdbcType=OTHER}
	</delete>

	<insert id="insert" parameterType="com.jfsoft.model.SysActormenumap" >
		insert into SYS_ACTORMENUMAP (ID, ROLECODE, MENUCODE, 
			AREACODE)
		values (#{id,jdbcType=OTHER}, #{rolecode,jdbcType=DECIMAL}, #{menucode,jdbcType=DECIMAL}, 
			#{areacode,jdbcType=OTHER})
	</insert>

	<insert id="insertSelective" parameterType="com.jfsoft.model.SysActormenumap" >
		insert into SYS_ACTORMENUMAP
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				ID,
			</if>
			<if test="rolecode != null" >
				ROLECODE,
			</if>
			<if test="menucode != null" >
				MENUCODE,
			</if>
			<if test="areacode != null" >
				AREACODE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				#{id,jdbcType=OTHER},
			</if>
			<if test="rolecode != null" >
				#{rolecode,jdbcType=DECIMAL},
			</if>
			<if test="menucode != null" >
				#{menucode,jdbcType=DECIMAL},
			</if>
			<if test="areacode != null" >
				#{areacode,jdbcType=OTHER},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.jfsoft.model.SysActormenumap" >
		update SYS_ACTORMENUMAP
		<set >
			<if test="rolecode != null" >
				ROLECODE = #{rolecode,jdbcType=DECIMAL},
			</if>
			<if test="menucode != null" >
				MENUCODE = #{menucode,jdbcType=DECIMAL},
			</if>
			<if test="areacode != null" >
				AREACODE = #{areacode,jdbcType=OTHER},
			</if>
		</set>
		where ID = #{id,jdbcType=OTHER}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.jfsoft.model.SysActormenumap" >
		update SYS_ACTORMENUMAP
		set ROLECODE = #{rolecode,jdbcType=DECIMAL},
			MENUCODE = #{menucode,jdbcType=DECIMAL},
			AREACODE = #{areacode,jdbcType=OTHER}
		where ID = #{id,jdbcType=OTHER}
	</update>

</mapper>