<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfsoft.mapper.SysActorMapper" >
	<resultMap id="BaseResultMap" type="com.jfsoft.model.SysActor" >
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="CODE" property="code" jdbcType="DECIMAL" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="CREATECODE" property="createcode" jdbcType="DECIMAL" />
		<result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
		<result column="MODIFYCODE" property="modifycode" jdbcType="DECIMAL" />
		<result column="MODIFYTIME" property="modifytime" jdbcType="TIMESTAMP" />
		<result column="SORTNUM" property="sortnum" jdbcType="DECIMAL" />
		<result column="MEMO" property="memo" jdbcType="VARCHAR" />
		<result column="AREACODE" property="areacode" jdbcType="VARCHAR" />
		<result column="ISUSE" property="isuse" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Example_Where_Clause" >
		<where >
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Update_By_Example_Where_Clause" >
		<where >
			<foreach collection="example.oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Base_Column_List" >
		ID, CODE, NAME, CREATECODE, CREATETIME, MODIFYCODE, MODIFYTIME, SORTNUM, MEMO, AREACODE, 
		ISUSE
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
		select 
		<include refid="Base_Column_List" />
		from SYS_ACTOR
		where ID = #{id,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
		delete from SYS_ACTOR
		where ID = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.jfsoft.model.SysActor" >
		insert into SYS_ACTOR (ID, CODE, NAME, CREATECODE, 
			CREATETIME, MODIFYCODE, MODIFYTIME, 
			SORTNUM, MEMO, AREACODE, 
			ISUSE)
		values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{createcode,jdbcType=DECIMAL},
			#{createtime,jdbcType=TIMESTAMP}, #{modifycode,jdbcType=DECIMAL}, #{modifytime,jdbcType=TIMESTAMP}, 
			#{sortnum,jdbcType=DECIMAL}, #{memo,jdbcType=VARCHAR}, #{areacode,jdbcType=VARCHAR},
			#{isuse,jdbcType=VARCHAR})
	</insert>

	<insert id="insertSelective" parameterType="com.jfsoft.model.SysActor" >
		insert into SYS_ACTOR
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				ID,
			</if>
			<if test="code != null" >
				CODE,
			</if>
			<if test="name != null" >
				NAME,
			</if>
			<if test="createcode != null" >
				CREATECODE,
			</if>
			<if test="createtime != null" >
				CREATETIME,
			</if>
			<if test="modifycode != null" >
				MODIFYCODE,
			</if>
			<if test="modifytime != null" >
				MODIFYTIME,
			</if>
			<if test="sortnum != null" >
				SORTNUM,
			</if>
			<if test="memo != null" >
				MEMO,
			</if>
			<if test="areacode != null" >
				AREACODE,
			</if>
			<if test="isuse != null" >
				ISUSE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="code != null" >
				#{code,jdbcType=DECIMAL},
			</if>
			<if test="name != null" >
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="createcode != null" >
				#{createcode,jdbcType=DECIMAL},
			</if>
			<if test="createtime != null" >
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifycode != null" >
				#{modifycode,jdbcType=DECIMAL},
			</if>
			<if test="modifytime != null" >
				#{modifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="sortnum != null" >
				#{sortnum,jdbcType=DECIMAL},
			</if>
			<if test="memo != null" >
				#{memo,jdbcType=VARCHAR},
			</if>
			<if test="areacode != null" >
				#{areacode,jdbcType=VARCHAR},
			</if>
			<if test="isuse != null" >
				#{isuse,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByExampleSelective" parameterType="map" >
		update SYS_ACTOR
		<set >
			<if test="record.id != null" >
				ID = #{record.id,jdbcType=VARCHAR},
			</if>
			<if test="record.code != null" >
				CODE = #{record.code,jdbcType=DECIMAL},
			</if>
			<if test="record.name != null" >
				NAME = #{record.name,jdbcType=VARCHAR},
			</if>
			<if test="record.createcode != null" >
				CREATECODE = #{record.createcode,jdbcType=DECIMAL},
			</if>
			<if test="record.createtime != null" >
				CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.modifycode != null" >
				MODIFYCODE = #{record.modifycode,jdbcType=DECIMAL},
			</if>
			<if test="record.modifytime != null" >
				MODIFYTIME = #{record.modifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.sortnum != null" >
				SORTNUM = #{record.sortnum,jdbcType=DECIMAL},
			</if>
			<if test="record.memo != null" >
				MEMO = #{record.memo,jdbcType=VARCHAR},
			</if>
			<if test="record.areacode != null" >
				AREACODE = #{record.areacode,jdbcType=VARCHAR},
			</if>
			<if test="record.isuse != null" >
				ISUSE = #{record.isuse,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null" >
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>

	<update id="updateByExample" parameterType="map" >
		update SYS_ACTOR
		set ID = #{record.id,jdbcType=VARCHAR},
			CODE = #{record.code,jdbcType=DECIMAL},
			NAME = #{record.name,jdbcType=VARCHAR},
			CREATECODE = #{record.createcode,jdbcType=DECIMAL},
			CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
			MODIFYCODE = #{record.modifycode,jdbcType=DECIMAL},
			MODIFYTIME = #{record.modifytime,jdbcType=TIMESTAMP},
			SORTNUM = #{record.sortnum,jdbcType=DECIMAL},
			MEMO = #{record.memo,jdbcType=VARCHAR},
			AREACODE = #{record.areacode,jdbcType=VARCHAR},
			ISUSE = #{record.isuse,jdbcType=VARCHAR}
		<if test="_parameter != null" >
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>

	<update id="updateByPrimaryKeySelective" parameterType="com.jfsoft.model.SysActor" >
		update SYS_ACTOR
		<set >
			<if test="code != null" >
				CODE = #{code,jdbcType=DECIMAL},
			</if>
			<if test="name != null" >
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="createcode != null" >
				CREATECODE = #{createcode,jdbcType=DECIMAL},
			</if>
			<if test="createtime != null" >
				CREATETIME = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifycode != null" >
				MODIFYCODE = #{modifycode,jdbcType=DECIMAL},
			</if>
			<if test="modifytime != null" >
				MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="sortnum != null" >
				SORTNUM = #{sortnum,jdbcType=DECIMAL},
			</if>
			<if test="memo != null" >
				MEMO = #{memo,jdbcType=VARCHAR},
			</if>
			<if test="areacode != null" >
				AREACODE = #{areacode,jdbcType=VARCHAR},
			</if>
			<if test="isuse != null" >
				ISUSE = #{isuse,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.jfsoft.model.SysActor" >
		update SYS_ACTOR
		set CODE = #{code,jdbcType=DECIMAL},
			NAME = #{name,jdbcType=VARCHAR},
			CREATECODE = #{createcode,jdbcType=DECIMAL},
			CREATETIME = #{createtime,jdbcType=TIMESTAMP},
			MODIFYCODE = #{modifycode,jdbcType=DECIMAL},
			MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
			SORTNUM = #{sortnum,jdbcType=DECIMAL},
			MEMO = #{memo,jdbcType=VARCHAR},
			AREACODE = #{areacode,jdbcType=VARCHAR},
			ISUSE = #{isuse,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

</mapper>