<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfsoft.mapper.SysUserMapper" >
	<resultMap id="BaseResultMap" type="com.jfsoft.model.SysUser" >
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="CODE" property="code" jdbcType="DECIMAL" />
		<result column="ENTRYCODE" property="entrycode" jdbcType="DECIMAL" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="USERNAME" property="username" jdbcType="VARCHAR" />
		<result column="PASSWORD" property="password" jdbcType="VARCHAR" />
		<result column="EMAIL" property="email" jdbcType="VARCHAR" />
		<result column="CREATECODE" property="createcode" jdbcType="DECIMAL" />
		<result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
		<result column="MODIFYCODE" property="modifycode" jdbcType="DECIMAL" />
		<result column="MODIFYTIME" property="modifytime" jdbcType="TIMESTAMP" />
		<result column="SORTNUM" property="sortnum" jdbcType="DECIMAL" />
		<result column="MEMO" property="memo" jdbcType="VARCHAR" />
		<result column="AREACODE" property="areacode" jdbcType="VARCHAR" />
		<result column="ISUSE" property="isuse" jdbcType="VARCHAR" />
		<result column="ACTORCODE" property="actorcode" jdbcType="DECIMAL" />
	</resultMap>

	<sql id="Base_Column_List" >
		ID, CODE, ENTRYCODE, NAME, USERNAME, PASSWORD, EMAIL, CREATECODE, CREATETIME, MODIFYCODE, 
		MODIFYTIME, SORTNUM, MEMO, AREACODE, ISUSE, ACTORCODE
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
		select 
		<include refid="Base_Column_List" />
		from SYS_USER
		where ID = #{id,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
		delete from SYS_USER
		where ID = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.jfsoft.model.SysUser" >
		insert into SYS_USER (ID, CODE, ENTRYCODE, 
			NAME, USERNAME, PASSWORD, 
			EMAIL, CREATECODE, CREATETIME, 
			MODIFYCODE, MODIFYTIME, SORTNUM, 
			MEMO, AREACODE, ISUSE, ACTORCODE
			)
		values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=DECIMAL}, #{entrycode,jdbcType=DECIMAL},
			#{name,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
			#{email,jdbcType=VARCHAR}, #{createcode,jdbcType=DECIMAL}, #{createtime,jdbcType=TIMESTAMP},
			#{modifycode,jdbcType=DECIMAL}, #{modifytime,jdbcType=TIMESTAMP}, #{sortnum,jdbcType=DECIMAL}, 
			#{memo,jdbcType=VARCHAR}, #{areacode,jdbcType=VARCHAR}, #{isuse,jdbcType=VARCHAR}, #{actorcode,jdbcType=DECIMAL}
			)
	</insert>

	<insert id="insertSelective" parameterType="com.jfsoft.model.SysUser" >
		insert into SYS_USER
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				ID,
			</if>
			<if test="code != null" >
				CODE,
			</if>
			<if test="entrycode != null" >
				ENTRYCODE,
			</if>
			<if test="name != null" >
				NAME,
			</if>
			<if test="username != null" >
				USERNAME,
			</if>
			<if test="password != null" >
				PASSWORD,
			</if>
			<if test="email != null" >
				EMAIL,
			</if>
			<if test="createcode != null" >
				CREATECODE,
			</if>
			<if test="createtime != null" >
				CREATETIME,
			</if>
			<if test="modifycode != null" >
				MODIFYCODE,
			</if>
			<if test="modifytime != null" >
				MODIFYTIME,
			</if>
			<if test="sortnum != null" >
				SORTNUM,
			</if>
			<if test="memo != null" >
				MEMO,
			</if>
			<if test="areacode != null" >
				AREACODE,
			</if>
			<if test="isuse != null" >
				ISUSE,
			</if>
			<if test="actorcode != null" >
				ACTORCODE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="code != null" >
				#{code,jdbcType=DECIMAL},
			</if>
			<if test="entrycode != null" >
				#{entrycode,jdbcType=DECIMAL},
			</if>
			<if test="name != null" >
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="username != null" >
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null" >
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="email != null" >
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="createcode != null" >
				#{createcode,jdbcType=DECIMAL},
			</if>
			<if test="createtime != null" >
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifycode != null" >
				#{modifycode,jdbcType=DECIMAL},
			</if>
			<if test="modifytime != null" >
				#{modifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="sortnum != null" >
				#{sortnum,jdbcType=DECIMAL},
			</if>
			<if test="memo != null" >
				#{memo,jdbcType=VARCHAR},
			</if>
			<if test="areacode != null" >
				#{areacode,jdbcType=VARCHAR},
			</if>
			<if test="isuse != null" >
				#{isuse,jdbcType=VARCHAR},
			</if>
			<if test="actorcode != null" >
				#{actorcode,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.jfsoft.model.SysUser" >
		update SYS_USER
		<set >
			<if test="code != null" >
				CODE = #{code,jdbcType=DECIMAL},
			</if>
			<if test="entrycode != null" >
				ENTRYCODE = #{entrycode,jdbcType=DECIMAL},
			</if>
			<if test="name != null" >
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="username != null" >
				USERNAME = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null" >
				PASSWORD = #{password,jdbcType=VARCHAR},
			</if>
			<if test="email != null" >
				EMAIL = #{email,jdbcType=VARCHAR},
			</if>
			<if test="createcode != null" >
				CREATECODE = #{createcode,jdbcType=DECIMAL},
			</if>
			<if test="createtime != null" >
				CREATETIME = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifycode != null" >
				MODIFYCODE = #{modifycode,jdbcType=DECIMAL},
			</if>
			<if test="modifytime != null" >
				MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="sortnum != null" >
				SORTNUM = #{sortnum,jdbcType=DECIMAL},
			</if>
			<if test="memo != null" >
				MEMO = #{memo,jdbcType=VARCHAR},
			</if>
			<if test="areacode != null" >
				AREACODE = #{areacode,jdbcType=VARCHAR},
			</if>
			<if test="isuse != null" >
				ISUSE = #{isuse,jdbcType=VARCHAR},
			</if>
			<if test="actorcode != null" >
				ACTORCODE = #{actorcode,jdbcType=DECIMAL},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.jfsoft.model.SysUser" >
		update SYS_USER
		set CODE = #{code,jdbcType=DECIMAL},
			ENTRYCODE = #{entrycode,jdbcType=DECIMAL},
			NAME = #{name,jdbcType=VARCHAR},
			USERNAME = #{username,jdbcType=VARCHAR},
			PASSWORD = #{password,jdbcType=VARCHAR},
			EMAIL = #{email,jdbcType=VARCHAR},
			CREATECODE = #{createcode,jdbcType=DECIMAL},
			CREATETIME = #{createtime,jdbcType=TIMESTAMP},
			MODIFYCODE = #{modifycode,jdbcType=DECIMAL},
			MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
			SORTNUM = #{sortnum,jdbcType=DECIMAL},
			MEMO = #{memo,jdbcType=VARCHAR},
			AREACODE = #{areacode,jdbcType=VARCHAR},
			ISUSE = #{isuse,jdbcType=VARCHAR},
			ACTORCODE = #{actorcode,jdbcType=DECIMAL}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 查询结果 -->
	<resultMap id="BaseUserMap" type="com.jfsoft.model.SysUser">
		<result column="code" property="code"/>
		<result column="username" property="username"/>
		<result column="actorcode" property="actorcode"/>
		<collection property="deptList" ofType="com.jfsoft.model.SysActordeptmap">
			<result property="deptcode" column="deptcode"/>
		</collection>
	</resultMap>

	<!-- 根据账号查询用户信息 -->
	<select id="findByName" parameterType="java.lang.String" resultMap="BaseUserMap">
		select
			su.code,su.username,sa.code as actorcode,ad.deptcode
		from
			sys_actordeptmap ad
		left join sys_actor sa on sa.code=ad.actorcode and sa.areacode=ad.areacode
		left join sys_user su on su.actorcode=sa.code and su.areacode=ad.areacode
		where
			su.username=#{username} and su.areacode=#{areacode}
		order by
			ad.deptcode
	</select>

</mapper>